* {
  list-style: none !important;
}
.custom-shadow {
  box-shadow: 0px 0px 15px -3px rgba(0, 0, 0, 0.1),
    0px 10px 15px -3px rgba(0, 0, 0, 0.1) !important;
}
.bg-green {
  background-color: #689064 !important;
}
.bg-green-secondary {
  background-color: #65994a !important;
}
.text-green {
  color: #689064 !important;
}
.text-blue {
  color: #1d7077 !important;
}
.bg-blue {
  background-color: #1d7077 !important;
}
.text-green-seconadry {
  color: #65994a !important;
}
.w-20 {
  width: 22% !important;
}

.w-35 {
  width: 35% !important;
}
.text-orange {
  color: rgb(255, 97, 34) !important;
}
.bg-orange {
  background-color: rgb(255, 97, 34) !important;
}
.btn-orange {
  background-color: rgb(255, 97, 34);
}
.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
  background-color: rgb(211, 82, 31) !important;
}
.bg-lighter {
  background-color: #eeffef !important;
}
body {
  font-family: sans-serif;
}

.f-s-5 {
  font-size: 17px !important;
}

.f-s-1 {
  font-size: 14px !important;
}

.f-s-2 {
  font-size: 15px !important;
}

.f-s-3 {
  font-size: 16px !important;
}
.mt-custom {
  margin-top: 8rem !important;
  margin-bottom: 8rem !important;
}

.table-green {
  background-color: #1d7077 !important;
  color: white !important;
}

.p-custom {
  padding: 3.5rem !important;
}

.mt-6 {
  margin-top: 6rem;
}
